@import 'styles/imports';

.beachcard {
  // border: 1px solid lightgray;
  border-radius: 4px;
  // height: 100%;
  transform: translateY(0px);
  transition: all 600ms ease;
  cursor: pointer;
   box-shadow: 0 1px 1px rgba(0,0,0,0.11),
              0 2px 2px rgba(0,0,0,0.11),
              0 4px 4px rgba(0,0,0,0.11),
              0 6px 8px rgba(0,0,0,0.11),
              0 8px 16px rgba(0,0,0,0.11);

  &:hover {
    box-shadow: 0 12px 35px 0 rgba(32,52,89,0.25);
    transform: translateY(-20px);
  }
}

.title {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.ecoli {
  font-weight: bold;
  margin-bottom: .5rem;
}

.beachstatus {
  margin-bottom: .5rem;
}

.status {
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.status-green {
  background-color: green;
}
.status-red {
  background-color: red;
}

.image {
  width: 100%;
  object-fit: contain;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.beachcard-content {
  padding: 1rem;
  // background: red;
  display: block;
  height: 50%;
}
