.loading {
    width: 4rem;
    min-width: 4rem;
    min-height: 2rem;
    display: inline-block;
    border-radius: 10px;
    background: linear-gradient(90deg, #999999, #cecece);
    background-size: 200% 200%;
    height: 1.5rem;
    -webkit-animation: Animation 1s ease infinite;
    -moz-animation: Animation 1s ease infinite;
    animation: Animation 1s ease infinite;
  }
  
@-webkit-keyframes Animation {
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}
@-moz-keyframes Animation {
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}
@keyframes Animation { 
  0%{background-position:10% 0%}
  50%{background-position:91% 100%}
  100%{background-position:10% 0%}
}