@import 'src/styles/imports';

.beachcard {
  border-radius: 4px;
  width: 100%;
  display: inline-block;
  transform: translateY(0px);
  transition: all 600ms ease;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.title {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.image-wrapper {
  height: 25%;
}

.ecoli {
  font-weight: bold;
  margin-bottom: .5rem;
}

.beachstatus {
  margin-bottom: .5rem;
}

.status {
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.status-green {
  background-color: green;
}
.status-red {
  background-color: red;
}

.image {
  width: 100%;
  object-fit: contain;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}

.beachcard-content {
  padding: 1rem;
  display: block;
  height: 50%;
}
